@charset "utf-8";

/*
base
*/
body {
    font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #333;
}
.info-header,
.info-text,
.under-text {
    font-weight: bold;
}
.button,
.cell {
    cursor: pointer;
}

/*
section
*/
.section {
    display: flex;
    text-align: center;
    justify-content: center;
}

.game-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 320px;
}

/*
info
*/
.info {
    position: absolute;
    left: calc(50% - 220px);
    top: 50%;
    transform: translateY(-55%);
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}
.info-text {
    font-size: 25px;
    margin: 0 0 10px 0;
}
.info-text.mark-○ {
    color: #0000ffff;
}
.info-text.mark-× {
    color: #ff0000ff;
}

/*
cell
*/
.cell-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    z-index: 1
}
.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    font-weight: bold;
}
.cell.mark-○ {
    color: #0000ffff;
    animation: fadeIn 1s ease forwards;
}
.cell.mark-× {
    color: #ff0000ff;
    animation: fadeIn 1s ease forwards;
}
.cell.mark-old {
    background-color: #ffff0040;
    transition: background-color 0.3s ease;
}

/*
button
*/
.button {
    display: inline-block;
    color: #fff;
    font-weight: bold;
    background: #333;
    padding: 15px 60px;
    text-decoration: none;
    border: 0;
    border-radius: 5px;
    box-shadow: 5px 5px 0 #bbb;
    transition: box-shadow 0.25s;
}
.button:hover {
    box-shadow: 0 0 0 #bbb;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}